body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header {
  width: 100%;
  height: 1000px;
  margin: auto;
  background-image: url("photos/backnew2.jpg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* for title above header background */
h1.tit1 {
  width: 60%;
  margin-top: 0;
  margin-left: 5%;
  margin-bottom: 0;
  padding-top: 150px;
  font-size: 900%;
  color: white;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Lobster";
  font-weight: 200;
}

h3 {
  font-family: "Poiret One", sans-serif;
}

/* semi transparent navbar container */
nav#navContainer {
  text-align: center;
  width: 100%;
  height: 50px;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 10% 10% 10% 45% 10% 5% 5%;
  background-color: rgba(34, 34, 35, 0.719);
  position: fixed;
  font-size: 130%;
  font-family: "Poiret One", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

/* navigatrion single element */
nav.navi {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: rgb(145, 149, 152);
}

/* themed buttons for imaged backgrounds */
a.button-frame {
  display: inline-block;
  margin-top: 25px;
  margin-left: 5%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 2em;
  border: solid 4px darkcyan;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-weight: 900;
}

a.button-frame:hover {
  color: rgb(145, 149, 152);
  border: solid 3px rgb(0, 60, 60);
}

/* 50 50 responsive container */
section.content-container {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 75px;
  padding-bottom: 75px;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* 2x2 image container */
section.imagebox {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolumny */
  gap: 5px;
  justify-content: center;
  align-content: center;
}

/* form container */
section#ord {
  padding-left: 10%;
  padding-right: 10%;
}

/* valid order summary hidden by default */
section#summary {
  background-image: url("photos/rogale2.jpg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: darken;
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5%;
  display: none;
  text-align: center;
  line-height: 200%;
  font-weight: bolder;
}

article {
  padding: 25px;
  font-size: 1.2em;
  text-align: center;
}

/* paralax image between sectrions */
figure.paralax-image {
  background-image: url("photos/rogale2.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

figure {
  margin: 0;
  display: flex;
  align-items: center;
}

/* for figure in 50 50 responsive container */
figure.side {
  margin: 5%;
}

img {
  width: 100%;
}

/* icons in navbar */
img.social {
  height: 40px;
  width: auto;
}

img.social:hover {
  filter: brightness(0.6);
}

/* images in 2x2 image grid container */
img.four-elem {
  padding: 2%;
  width: 96%;
}

footer {
  padding: 50px;
  background-color: black;
  color: white;
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type="radio"] {
  accent-color: darkcyan;
}

input[type="submit"] {
  display: inline-block;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: darkcyan;
  color: white;
  border: none;
  font-size: 2em;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-weight: 900;
}

input[type="submit"]:hover {
  color: rgb(145, 149, 152);
  background-color: rgb(0, 60, 60);
}

/* responsive elements */
@media (max-width: 1000px) {
  header {
    background-color: rgba(0, 0, 0, 0.55);
  }

  section.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  h1.tit1 {
    padding-top: 300px;
    font-size: 480%;
  }

  nav#navContainer {
    padding-left: 0;
    background-color: rgba(20, 20, 20, 0.648);
    grid-template-columns: 20% 20% 20% 0% 20% 10% 10%;
    font-size: 100%;
  }

  figure.side {
    margin: 10%;
  }
}
