table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

.col {
  display: flex;
  height: 100px;
  width: 100px;
}

div.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
